.env
db.sqlite3
venv/
__pycache__/
*.pyc
*.pyo
staticfiles/
static/admin/
static/rest_framework/
media/
*.log
bridge/node_modules/
bridge/package-lock.json
bridge/.cache/
bridge/.config/
bridge/.local/
bridge/.wwebjs_auth/
bridge/.wwebjs_cache/
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
